.newProjectContainer {
	max-width: 450px;
	margin: 1em auto;
	padding: 2em;
	border: 1px solid #888;
}

.newProjectContainer h1 {
	margin-bottom: 0.5em;
}

.newProjectContainer p {
	color: #545454;
	font-size: 0.75em;
	padding-bottom: 0.5em;
}

