.projectDetails {
	padding: 2em;
}

.projectDetails h1,
.projectDetails h2,
.projectDetails p {
	margin-bottom: 0.5em;
}

.projectDetails h1 {
	background-color: #222;
	color: #ffbb33;
	padding: 0.4em;
}

.projectDetails span {
	font-weight: bold;
}

.detailsContainer,
.serviceFormContainer {
	border-bottom: 1px solid #7a7a7a;
	margin-bottom: 1.2em;
	padding-bottom: 1.2em;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}

.btn {
	background-color: #222;
	color: white;
	padding: 0.5em;
	text-decoration: none;
	transition: 0.5s;
	font-weight: bold;
	max-height: 33px;
	border: none;
	cursor: pointer;
	width: 120px;
}

.btn:hover {
	background-color: #ffbb33;
	color: black;
}

.projectInfo {
	width: 100%;
}

